.donation-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 100px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.donation-title {
  font-size: 2rem;
  text-align: center;
  color: #333;
}

.donation-subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 30px;
}

.donation-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.donation-image {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.donation-paragraph {
  margin: 20px 0;
  text-align: left;
}

.form-section {
  margin: 20px 0;
}

.form-section h3 {
  font-size: 1.5rem;
  color: #555;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.required {
  color: red;
}

.donation-input,
.donation-select,
.donation-textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.donation-textarea {
  height: 100px;
}

.confirmation-checkbox {
  margin-right: 5px;
}

.donate-button {
  width: 100%;
  padding: 12px;
  background-color: #3399cc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.donate-button:hover {
  background-color: #2879b5;
}
.offline-donation-section {
  margin: 30px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.bank-details {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fff;
}
